<section id="home-body">
  <%= render partial: "shared/hero" %>
  <div class="section-wrapper">
    <div class="container">
      <div class="item-row item-row-centered">
        <div class="row-element one-third">
          <img src="https://s3.amazonaws.com/victoriamcgrathfoundation/images/master.png">
        </div>
        <div class="row-element two-thirds">
          <p>
            The Victoria McGrath Foundation was created in 2018 to honor the memory of a remarkable young woman, <%= link_to "Victoria McGrath", story_path %>, who committed her life to bringing hope and care to vulnerable, underserved people. 
          </p>
        </div>
      </div>
    </div>
    <div class="section-header-wrapper centered">
      <h4 class="section-header">Opening the Door for Families with Disabilities</h4>
    </div>
    <div class="container">
      <div class="item-row item-row-centered">
        <div class="row-element">
          <p>
            In honor of Victoria’s love for children with disabilities, we invite you to support our first official project! We are currently accepting contributions in Victoria’s honor as her best friend runs the Boston Marathon on April 16 - one of <%= link_to "Victoria’s dreams", projects_path %> - and as several of her friends run the B.A.A. 5k on April 14.
            <br><br>
            Your donations now through April 16 will send five families affected by disability to a refreshing week at <%= link_to "Joni & Friends summer camp", projects_path %>. This unique, valuable experience provides much-needed family fun, encouragement and support for families who often deal with life-altering disabilities in isolation the other 51 weeks out of the year.
          </p>
        </div>
      </div>
      <div class="item-row item-row-centered">
        <div class="homepage-video">
          <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/4DdoepWEnkY?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="row-element">
        
        </div>
      </div>
      <div class="item-row item-row-centered">
        <%= link_to "Donate", donate_index_path, class: "navbar-link navbar-link-darker" %>
      </div>      
    </div>
  </div>
</section>
