<%= link_to event_path(event.path) do %>
  <div class="event-card">
    <% if event.date_time.present? %>
      <div class="event-card__date">
        <h4><%= event.date_day_of_week %></h4>
      </div>
    <% end %>
    <div class="event-card__body">
      <div class="event-card__image">
        <%= image_tag event.primary_image %>
      </div>
      <div class="event-card__information">
        <h4><%= event.title %></h4>
        <%= sanitize(event.short_description) %>
        <div class="event-card__row">
          <% if event.location.present? %>
            <div class="event-card__item">
              <div class="visual-label"> Location </div>
              <%= event.location %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
