  <header role="banner">
    <%= link_to root_path, class: "header-icon" do %>
      Victoria McGrath Foundation
    <% end %>

    <div class="navbar-collapse-toggle hamburger">
      <div class="hamburger-line"></div>
      <div class="hamburger-line"></div>
      <div class="hamburger-line"></div>
    </div>
    <nav class="navbar">
      <%= link_to "Home", root_path, class: "navbar-link" %>
      <%= link_to "About", about_path, class: "navbar-link" %>
      <%= link_to "Victoria's Story", story_path, class: "navbar-link" %>
      <%= link_to "Events", events_path, class: "navbar-link" %>
      <%= link_to "Donate", donate_index_path, class: "navbar-link" %>
    </nav>
  </header>
