<!DOCTYPE html>
<html>
  <head>
    <title>Victoria McGrath Foundation</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="google-site-verification" content="YFKndqsam8BgkwlSyr5Yqpwgb8oQvNJBT4txGZ6cNuk" />
  </head>

  <body>
    <%= render partial: "shared/header" %>
    <%= yield %>
    <%= render partial: "shared/footer" %>
  </body>
</html>
